*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}
body{
    background:white;
    min-height:100vh;
}
.container{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.form-container{
    width:700px;
    margin-top:30px;
}
.form-container h1{
    font-size:48px;
    font-weight:700;
    color: black;
}
.form-container p{
    margin-top:8px;
    font-size:20px;
    color:darkgray;
}
.form-container input{
    width:100%;
    margin-top:20px;
    padding:18px;
    border:1px solid darkgray;
    border-radius:18px;
    font-size:18px;
    outline:none;
}
.form-container input:hover{
    border-color: rgb(59, 59, 204);
}
.form-container input:focus{
    border-color: skyblue;
}
.form-container button{
    width:100%;
    margin-top:35px;
    padding:18px;
    border:none;
    border-radius:30px;
    background: blue;
    color: white;
    font-size:24px;
    font-weight:600;
    cursor:pointer;
}
.form-container button:hover{
    background: rgb(68, 63, 221);
}
footer{
    width:70%;
    margin-top:90px;
}
.languages{
    display:flex;
    flex-wrap:wrap;
    gap:30px;
    margin-bottom:25px;
}
.languages a,
.links a{
    text-decoration:none;
    color:darkgrey;
    font-size:16px;
}

hr{
    border:none;
    border-top:1px solid #d1d5db;
    margin-bottom:25px;
}

.links{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    line-height:2;
}

.copyright{
    margin-top:25px;
    font-size:16px;
    color:#1c1e21;
}

@media(max-width:768px){

    .back-btn,
    .form-container{
        width:90%;
    }

    .form-container h1{
        font-size:36px;
    }

    footer{
        width:90%;
    }
}